/* This will put the Continue Watching and Next Up sections at the top of the home screen
   You can order your custom sections between those and the rest of the sections by using 3-99 for the section order
   Discovery sections are 101-110 if they are enabled
   If you want your custom section to appear after all other sections, use 111+ for the section order */
.sections.homeSectionsContainer {
    display: flex;
    flex-direction: column;
}

.sections.homeSectionsContainer>div {
    order: 100;
}

.sections.homeSectionsContainer>div:has(a.homeLibraryButton), 
.sections.homeSectionsContainer>div:has([data-type="CollectionFolder"]) {
    order: 1;
}

.sections.homeSectionsContainer>div:has(>.emby-scroller div[data-positionticks]) {
    order: 2;
}

.sections.homeSectionsContainer>div:has(a[href*="type=nextup"]) {
    order: 3;
}

/* Halloween theme */
.home-screen.halloween-theme #reactRoot:has(.libraryPage:not(.hide) .pageTabContent.is-active[data-index="0"])>.backgroundContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -25%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://ranaldsgift.github.io/KefinTweaks/pages/images/halloween.jpg);
    background-position: 0px -250px;
    background-size: auto 102%;
}

.home-screen h2.sectionTitle {
    margin-bottom: .35em;
    margin-top: 0;
}

.sectionTitleContainer.sectionTitleContainer-cards.padded-left > .sectionTitle.sectionTitle-cards {
    display: flex !important;
}

div#discovery-loading-indicator:not(.show)::before {
    content: 'Loading...';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    visibility: visible;
    text-align: center;
    opacity: 1;
}

#indexPage[data-discovery-ready] div#discovery-loading-indicator:not(.show)::before {
    content: 'Discover More';
}

div#discovery-loading-indicator:not(.show)::after {
    content: '\E313';
    font-family: 'Material Icons';
    position: absolute;
    top: calc(50% + 0.4em);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    color: #ffffff;
    visibility: visible;
    opacity: 1;
}

.libraryPage:has(.load-more-discovery-btn) div#discovery-loading-indicator {
    opacity: 0;
}

#indexPage[data-discovery-ready]:not([data-infinite-scroll='true']) div#discovery-loading-indicator {
    display: none;
}

#indexPage:not([data-discovery-ready]) div#discovery-loading-indicator:not(.show)::after {
    content: '';
}

/* Ensure Editor's Choice Banner appears at top of home screen if enabled */
.editorsChoiceContainer {
    order: 1 !important;
}