.card[data-type="Studio"] a.cardImageContainer:not(.lazy-loaded)::after {
	content: attr(aria-label);
	font-size: 3em;
	max-width: calc(100% - 1em);
	white-space: pre-wrap;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

.card[data-type="Studio"] a.cardImageContainer:not(.lazy-loaded) .cardImageIcon {
	display: none;
}

.layout-mobile .card[data-type="Studio"] a.cardImageContainer:not(.lazy-loaded)::after {
	font-size: 1.5em;
}

.card[data-type="Studio"] {
	--card-hue-step: 0deg;
	--genre-color: hsl(calc(var(--row-hue) + var(--card-hue-step)) 55% 35%);
}

.card[data-type="Studio"]:nth-child(10n + 1) {
	--card-hue-step: 0deg;
}
.card[data-type="Studio"]:nth-child(10n + 2) {
	--card-hue-step: 36deg;
}
.card[data-type="Studio"]:nth-child(10n + 3) {
	--card-hue-step: 72deg;
}
.card[data-type="Studio"]:nth-child(10n + 4) {
	--card-hue-step: 108deg;
}
.card[data-type="Studio"]:nth-child(10n + 5) {
	--card-hue-step: 144deg;
}
.card[data-type="Studio"]:nth-child(10n + 6) {
	--card-hue-step: 180deg;
}
.card[data-type="Studio"]:nth-child(10n + 7) {
	--card-hue-step: 216deg;
}
.card[data-type="Studio"]:nth-child(10n + 8) {
	--card-hue-step: 252deg;
}
.card[data-type="Studio"]:nth-child(10n + 9) {
	--card-hue-step: 288deg;
}
.card[data-type="Studio"]:nth-child(10n + 10) {
	--card-hue-step: 324deg;
}

.card[data-type="Studio"] a.cardImageContainer:not(.lazy-loaded) {
	background: var(--genre-color) !important;
}

.homeSectionsContainer .card[data-type="Studio"] .cardText {
	visibility: hidden;
}
