#indexPage, #moviesPage, #tvRecommendedPage, #musicRecommendedPage {
    overflow-y: visible !important;
}

@media (min-aspect-ratio: 1.98 / 1) {
    .detailPageContent .detailPagePrimaryContent {
        padding-left: 0 !important;
    }
}