.layout-desktop  .nextUpSection.verticalSection.detailVerticalSection {
    display: flex;
    flex-direction: column;
    align-items: end;
    outline: none;
    border: var(--defaultBorder);
    border-radius: var(--smallRadius);
    background-color: var(--lighterGradientPointAlpha);
}

.layout-desktop .nextUpSection .card.overflowBackdropCard {
    width: auto !important;
}

.layout-desktop .nextUpSection h2.sectionTitle.sectionTitle-cards {
    border-bottom: var(--defaultBorder);
    width: 100%;
    margin: 0;
    text-align: center;
}

.layout-desktop .nextUpItems {
    margin-left: 0 !important;
}

.layout-desktop .nextUpSection .cardScalable, .layout-desktop .nextUpSection .cardText {
    width: 18em;
}

.layout-desktop .nextUpSection .cardBox {
}

.layout-desktop .nextUpSection .cardOverlayContainer {
    opacity: 1;
}

.layout-desktop .nextUpSection .cardBox {
    margin-top: 0;
}
.layout-desktop h3.parentName.musicParentName {
    margin-bottom: 2rem;
}
.layout-desktop .nextUpSection .cardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-desktop .nextUpSection {
    position: absolute;
    right: 2em;
    bottom: 18vh;
    z-index: 10;
}

.layout-desktop .nextUpSection h2.sectionTitle {
    margin-left: 2em;
    margin-bottom: -0.6em;
}

.layout-desktop .nextUpSection .card.overflowBackdropCard {
    width: 18vw !important;
}

#slides-container {
    top: 2em !important;
}

.slide .watchlist-button:not(:hover) {
    background: transparent;
}

.docspinner {
    contain: layout style size;
    top: 1em;
    right: calc(1em + 7px);
    left: unset;
    position: fixed;
    width: 3em;
    height: 3em;
    z-index: 9999999;
    margin: 0;
    pointer-events: none;
}

#reactRoot>div:nth-of-type(3) {
    container-type: normal !important;
}
