/* Media bar slides container */
div#slides-container {
    margin-left: 250px !important;
    width: calc(100% - 250px) !important;
}
body.home-screen .emby-tab-button {
    display: flex;
}
body.home-screen .emby-tabs-slider {
    display: flex;
}
body.home-screen .emby-tab-button > div {
    align-self: normal;
}
.series-episodes-section {
    grid-area: nextup;
}
.layout-desktop .mainDetailButtons:has(.btnReplay:not(.hide)) .btnPlay::after {
    content: 'Resume' !important;
}
.layout-desktop .mainDetailButtons:has(.btnReplay:not(.hide)) .btnPlay {
    margin-right: -115px !important;
    padding-right: 20px !important;
    right: 140px !important;
}