/* Media bar slides container */
div#slides-container {
    margin-left: 250px !important;
    width: calc(100% - 250px) !important;
}
body.home-screen .emby-tab-button {
    display: flex;
}
body.home-screen .emby-tabs-slider {
    display: flex;
}
body.home-screen .emby-tab-button > div {
    align-self: normal;
}
.series-episodes-section {
    grid-area: nextup;
}