.kefin-config-button {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    border-radius: 0px;
    text-decoration: none;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customMenuOptions {
    display: flex;
    flex-direction: column;
}

.customMenuOptions > * {
    order: 1;
}

a[href="#"].navMenuOption:has(.build) {
    order: 9999;
    margin-top: 2em !important;
    position: relative;
}

a[href="#"].navMenuOption:has(.build)::before {
    content: 'KefinTweaks';
    position: absolute;
    top: -1.5em;
    left: 0;
}

.listItemContent:has([data-skin-name]) {
    justify-content: space-between;
    width: 100%;
}

#kefinTweaksConfigModal .listItem {
    align-items: start;
}